{% extends "aplicacionapp/base.html" %}

{% load static %}

{% block content %}

    <h1 align = "center">Matemáticas</h1>

    <h2>Índice</h2>
    <ol>
        {% for i in categorias %}

            <li><a href="#section{{i.id}}">{{i.nombre}}</a></li>

        {% endfor %}
    </ol>

    {% for i in categorias %}
        
        <h4 id = "section{{i.id}}">{{i.nombre}}</h4>

        <ul>
            {% for j in biblio %}

                {% if j.categoria == i.nombre %}
                    <li><a>{{j.titulo}}: </a><a href="{{j.link}}">{{j.link}}</a></li>
                {% endif %}

            {% endfor %}
        </ul>
    {% endfor %}


{% endblock %}